body{
    background-color: black;
}




.card{
    border: 2px crimson solid;
    width:fit-content;
}
.description{
    color:rebeccapurple;
    padding: 10px;
    font-size:x-large;
}
.heading{
    padding-top: 10px;
    color:firebrick;
    padding: 2px 10px;
}
.example{
    /* padding: 1px 0px; */
    background-color: crimson;
    width: max-content;
    height: 3em;
    left: 10px;
}




#main-description{
    /* background-color: black; */
    font-size:x-large;
    color: gold;
}
#types{
    font-size:x-large;
    position: relative;
    bottom: 20px;
    right: 10px;
}
#relative{
    position: relative;
    left: 250px;
}
#sticky{
    position: sticky;
    bottom: 8px;
}
#fixed{
    position: fixed;
    /* right: 10px; */
    top:20px;
    left: 200px;
}
#absolute-parent{
    position: relative;
    background-color: rebeccapurple;
    width: 250px;
    height: 250px;
}
#absolute{
    position: absolute;
    right: 20px;
    top: 4px;
}